<div class="w-section footer-section">
  <div class="w-container">
    <div class="w-row">
      <div class="w-col w-col-3">
        {{#link-to 'index' classNames='w-nav-brand logo-footer'}}
          <div class="logo-text footer-logo">ACROYOGA<strong>SANDIEGO</strong>
          </div>
        {{/link-to}}
      </div>
      <div class="w-col w-col-9 w-clearfix footer-link-col">
        {{link-to 'Contact' 'contact' classNames='nav-link footer-link'}}
        {{link-to 'Blog' 'posts' classNames='nav-link footer-link'}}
        {{link-to 'Events' 'events' classNames='nav-link footer-link'}}
        {{link-to 'About' 'about' classNames='nav-link footer-link'}}
        {{link-to 'Home' 'index' classNames='nav-link footer-link'}}
      </div>
    </div>
  </div>
</div>