<div data-collapse="medium" data-animation="default" data-duration="400" data-contain="1" class="w-nav nav">
  <div class="w-container">
    {{#link-to 'index' classNames='w-nav-brand'}}
      <div class="logo-text">AcroYoga<strong data-new-link="true">SanDiego</strong>
      </div>
    {{/link-to}}

    {{#if showLarge}}
      <nav role="navigation" class="w-nav-menu w-preserve-3d nav-menu">
        {{link-to 'Home' 'index' classNames="w-nav-link nav-link"}}
        {{link-to 'About' 'about' classNames='w-nav-link nav-link'}}
        {{link-to 'Events' 'events' classNames='w-nav-link nav-link'}}
        {{link-to 'Blog' 'posts' classNames='w-nav-link nav-link'}}
        {{link-to 'Contact' 'contact' classNames='w-nav-link nav-link'}}
      </nav>
    {{/if}}

    <div class="w-nav-button menu-button {{if isShowing 'w--open'}}" {{action 'toggle'}}>
      <div class="w-icon-nav-menu"></div>
    </div>

    {{#if showMini}}
      <div class="w-nav-overlay nav-menu-mini" data-wf-ignore="" style="height: 1963px; display: block;">
        <nav role="navigation" class="w-nav-menu w-preserve-3d nav-menu {{if isShowing 'w--nav-menu-open'}}" {{action 'toggle'}}>
          {{link-to 'Home' 'index' classNames="w-nav-link nav-link w--nav-link-open"}}
          {{link-to 'About' 'about' classNames='w-nav-link nav-link w--nav-link-open'}}
          {{link-to 'Events' 'events' classNames='w-nav-link nav-link w--nav-link-open'}}
          {{link-to 'Blog' 'posts' classNames='w-nav-link nav-link w--nav-link-open'}}
          {{link-to 'Contact' 'contact' classNames='w-nav-link nav-link w--nav-link-open'}}
        </nav>
      </div>
    {{/if}}
  </div>
</div>